body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul,ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }
h1, h2, h3, h4, h5, h6,p {
  margin: 0;
}

img {
    display: block
}
  /*HEADER*/

 .header {
    border-bottom: 1px solid #e7e9fc;
 }

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    
  }
  
 
.logo-one {
    color: #4D5AE5;
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    text-decoration:none
}
.logo-two {
    color:  #2E2F42;
/*
}
.logo-three {
    color:#4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px
}
.logo-four { 
color:#F4F4FD;
*/
}
.navigation-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}
.navigation-container {
    display: flex;
  
    align-items: center;

  }
.menu {
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 500; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.menu:hover,
.menu:focus {
    color: #404BBF;
}
.contacts {
    font-style: normal;
    justify-content: flex-end;
  }
  .contacts-list {
    display: flex;
    gap: 40px;
  }
  .contacts-link {
    text-decoration: none;
    display: block;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;

  }
.contacts-link:hover,
.contacts-link:focus  {
color:#404BBF;
}
.section-three {
    background-color:#F4F4FD;
}
/*SECTION 1*/

.section-one {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;

} 
.container .container-section-one {
    display: inline-flex;
    flex-wrap: wrap;
}
.section-main-text {
    align-content: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 16px 32px;
align-items: flex-start;
margin: auto;
gap: 10px;
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
max-width: 496px
}
.button:hover,
.button:focus {
background-color: #404BBF;
}

/*SECTION 2*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two {
    width: 1440px;
    flex-shrink: 0;
    background: #FFF;
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 0
}
.benefits {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 72px;
}
    .benefits .item {
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        border-top-left-radius: 0px; 
        border-top-right-radius: 0px ; 
        border-top-right-radius: 4px; 
        border-bottom-left-radius:4px;
      }
  
.list-header {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}
.list-text {
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*SECTION 3*/


 .section-three {
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 0;
    
 
}
    .benefits-three {
        display: flex;
        
        list-style: none;
        gap: 24px;
        border-radius: 0px 0px 4px 4px;
    }
   
    .benefits-three .team-item {
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
    }
    .team-title {   
color:#2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
    }
 .section-three-content {
    padding: 32px 0
}

.team-item {
background-color:#FFFFFF ;

}
.team-title-header
{
    color:#2E2F42;
    
   
    font-size: 20px;
   text-align: center; 
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.team-title-text {
   
   
   
    font-size: 16px;
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/*SECTION 4*/


.section-four {
   
   
    padding: 120px 0 120px 0;
}
.benefits-four {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 8px ;
    list-style: none;
    column-gap: 24px;
    row-gap: 48px;
}
.benefits-four .portfolio-item {
    width: calc((100% - 48px) / 3);
    
}
.portfolio-title {
color:#2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px

}
.section-four-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;  
}

.portfolio-list-header {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}
.portfolio-text {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}


/*FOOTER 4*/
.footer {
    
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
}
.logo-three  {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;

    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }
.logo-four {
    
    color: #f4f4fd;
        
}